.apiKeyDetail__container {
    display: flex;
    flex-direction: column;
    position: relative;
}

.apiKeyDetail__cover {
    height: 14rem;
    position: relative;
}

.apiKeyDetail__container > h3 {
    padding: 1rem;
}

.apiKeyDetail__headerDetail {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 8rem;
    left: 5rem;
    width: 85%;
}

.apiKeyDetail__avatarContainer {
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    justify-content: space-between;
}

.apiKeyDetail__innerAvatarContainer {
    display: flex;
    flex-direction: row;
    align-items: flex-end;
}

.apiKeyDetail__userNameContainer {
    margin-left:1rem;
}

.apiKeyDetail__userNameContainer > * {
    margin-bottom: 0;
}

.apiKeyDetail__avatar {
    height: 12rem;
    width: 12rem;
    border-radius: 0.8rem;
    font-size: 4rem;
}

.apiKeyDetail__genreBadge {
    background-color: var(--white);
    color: var(--primary);
    border: 1px solid var(--primary);
}

.apiKeyDetail__userActions{ 
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.apiKeyDetail__userActions > button {
    margin: 0.2rem;
}

.apiKeyDetail__genreContainer {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
    margin: 1rem 0;
}