:root {
  --border-color: #65676B
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
    background-color: transparent;
  }

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.table_card {
  border-radius: 0.2rem;
  padding: 0.5rem;
  box-shadow: 0 1px 2px 0 rgb(60 64 67 / 30%), 0 2px 6px 2px rgb(60 64 67 / 15%);
  background-color: white;
}

.table td, .table th {
  padding: 0.5rem;
  border-top-width: 0;
  vertical-align: middle;
  text-align: center;
}

.table__actionContainer {
  flex-direction: row;
  display: flex;
}

.table__actionContainer > button {
  margin: 0.1rem;
}

.table__rowStrike {
  text-decoration: line-through;
}

button:focus {
  outline: none;
}