.main__container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    min-height: 100vh;
}

.main__sideNav {
    display: flex;
    flex-direction: column;
    background-color: var(--light);
    width: 16rem;
}

.main__bodyContainer {
    display: flex;
    flex:1;
    flex-direction: column;
}

.main__appName {
    text-align: center;
}

.main__collapseBtn {
    align-self: flex-end;
    margin: 1rem;
    background-color: var(--light);
    outline: none;
    border-width: 0;
}

.sideNav__collapsed {
    width: 6rem !important;
}

.main__header {
    justify-content: space-between;
    display: flex;
    flex-direction: row;
}

.main__header > .header__left {
    flex:1,
}

.main__header > .header__right {
    flex:1,
}
